{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ vehicle.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ vehicle.model }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ vehicle.type }}</td>
            </tr>
            <tr>
                <th>Year_of_production</th>
                <td>{{ vehicle.yearOfProduction }}</td>
            </tr>
            <tr>
                <th>Mileage</th>
                <td>{{ vehicle.mileage }}</td>
            </tr>
            <tr>
                <th>No_of_seats</th>
                <td>{{ vehicle.noOfSeats }}</td>
            </tr>
            <tr>
                <th>No_of_door</th>
                <td>{{ vehicle.noOfDoor }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ vehicle.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Rented</th>
                <td>{{ vehicle.rented ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Notice</th>
                <td>{{ vehicle.notice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehicle_index') }}">back to list</a>

    <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}">edit</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}
